/*###### Theme Colors ###### */
/*######## Text Theme ######### */
/*######## Layout Theme ####### */
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", "Josefin Sans", sans-serif; }

::selection {
  background-color: rgba(0, 0, 0, 0.2); }

h1, h2, h3, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif; }

.logo-text {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.base-container {
  -moz-background: linear-gradient(to left, #D9B3FB, #C080F8, #A64DF5, #9326F3, #8000F1, #7000E8, #5A00DB, #4600D0, #2200BB);
  -webkit-background: linear-gradient(to left, #D9B3FB, #C080F8, #A64DF5, #9326F3, #8000F1, #7000E8, #5A00DB, #4600D0, #2200BB);
  -o-background: linear-gradient(to left, #D9B3FB, #C080F8, #A64DF5, #9326F3, #8000F1, #7000E8, #5A00DB, #4600D0, #2200BB);
  background: linear-gradient(to left, #D9B3FB, #C080F8, #A64DF5, #9326F3, #8000F1, #7000E8, #5A00DB, #4600D0, #2200BB);
  overflow: hidden; }

.custom-container {
  margin-top: 25px; }

.section-poster {
  padding: 32px 15px 64px; }

.section-primary {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }

.section-secondary {
  padding: 75px 0; }

#footer-container {
  padding: 16px 0; }

.section-navbar {
  padding: 8px 0; }

.nav-title {
  margin: 0;
  line-height: 56px;
  font-weight: 900 !important; }

.h-xl {
  font-size: 3.5rem;
  font-weight: 900; }

.h-lg {
  font-size: 2.8rem;
  font-weight: 700; }

.h-md {
  font-size: 2.3rem;
  font-weight: 500; }

.h-sm {
  font-size: 1.8rem;
  font-weight: 300; }

.p-xl {
  margin: 16px 0 16px;
  font-size: 1.8rem;
  font-weight: 700; }

.p-lg {
  margin: 16px 0 8px;
  font-size: 1.4rem;
  font-weight: 600; }

.p-md {
  font-size: 1.2rem;
  font-weight: 500; }

.p-sm {
  margin: 8px 0 8px;
  font-size: 1rem;
  font-weight: 400; }

.light {
  color: #FFFFFF; }

.lowLight {
  color: #eeeeee; }

.dark {
  color: #000000; }

.lowDark {
  color: #424242; }

.primary {
  color: #8000F1; }

.secondary {
  color: #00E676; }

.align-section-skills {
  text-align: left; }

.align-section-services {
  text-align: center; }

.align-section-contact {
  text-align: left; }

.icon-secondary {
  padding-top: 50px;
  font-size: 2.8rem;
  color: #eeeeee; }

.trans-card {
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem; }

.progress {
  background-color: #F0E0FD; }

.progress-bar {
  background: linear-gradient(to left, #C080F8, #8000F1); }

.btn-primary {
  background-color: #8000F1; }
  .btn-primary:hover {
    background-color: #5A00DB;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=app.css.map */
