.section-navbar
	padding: 2px 0 0
	height: 56px
	background: linear-gradient(to left, $P100, $P200, $P300, $P400, $P500, $P600, $P700, $P800, $P900)
	position: fixed
	float: left
	z-index: 99
	//box-shadow: 0 4px 16px 0 rgba(0,0,0,.2)

.nav-title
	margin: 0
	line-height: 56px
	font-weight: 900 !important
	//border: 1px solid
