.section-poster
	padding-top: 125px
	padding-bottom: 69px
	background-image: url(../assets/bg-img/colored.jpg)
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	// background: linear-gradient(to left, $P100, $P200, $P300, $P400, $P500, $P600, $P700, $P800, $P900)

.section-primary
	padding-top: 75px
	padding-bottom: 75px
	background-color: $light

.section-secondary
	padding-top: 75px
	padding-bottom: 75px
	background-color: $dark
